{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="row">
{% for product in products %}
    <div class="col-md-8 col-lg-6 mb-2">
        <div class="card">
            <img src={{product.img}} class="card-img-top img-card">
            <div class="card-body text-center">
            <h1> {{product.name}}</h1>
            <div class="row mb-2 my-4">
                    <div class="col-md-4">
                        <h3> {{product.description}}</h2>
                    </div>
                    <div class="col-auto">
                        <h3><b> $ {{product.price}}</b></h2>
                    </div>
            </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}